@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
  line-height: 1.5;
  -moz-box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 12pt "Montserrat", sans-serif;

  border-radius: 1rem;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact !important;
  
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 210mm;
  min-height: 297mm;
  padding: 0mm;
  margin: 10mm auto;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
}

.page-container * {
  margin: 0;
  padding: 0;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    /* border-radius: 1rem; */
  }
  .page-container {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
  }
}
.row {
  display: flex;
  flex-direction: row;
}

.right {
  width: 68%;

  /* border: 2px solid black; */
}
.right * {
  color: #323b4c;
}

.left {
  background-color: #323b4c;
  width: 32%;
}

.top .left {
  
  border-top-left-radius: 1rem;
  border-bottom: 1rem solid #323b4c;
}
.left * {
  color: #d0d0d1;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.user-info > * {
  padding: 0.25rem 0.5rem;
}

.user-info > p {
  text-align: justify;
  line-height: 1.25;
}

.user-info > .contact {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact > * {
  width: 35%;
}

.contact .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
}


.img-container {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-container img {
  display: block;
  border: 20%;
  width: 90%;
  height: 90%;
  /* border: 2px solid black; */
  border-radius: 50%;
}

/* .bottom {
  flex-grow: 1; */
 /* padding-bottom: 1rem;
} */

.bottom .left {
  /* border-top: 1px solid black; */
  
  border-bottom-left-radius: 1rem;
}
.bottom .left>*{
  margin-left: 2rem;
  margin-bottom:1rem;
}

.info>*{
  padding:0.5rem;
}
.info>h2{
  border-bottom: 2px solid #d0d0d1;
  /* padding-bottom: 0.5rem; */
  margin-bottom: 1rem;
}

.info>p{
  font-size: 0.75rem;
  line-height: 1.5;
}

.technical-skills > p {
  padding-right: 0.5rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

/* .interests>p{
  margin-bottom: 0.25rem;
} */

.bottom .right >*{
  margin-left: 2rem;
  margin-bottom: 1rem;
  
}


.project-work>h2{
  border-bottom: 2px solid #323b4c;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.project-work li{
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}
.project-work .project{
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}
.project-work .project>ul{
  margin-left: 2rem;
  padding:0.5rem;
}

.achievements>h2{
  border-bottom: 2px solid #323b4c;
  padding: 0.5rem;
  /* margin-bottom: 1rem; */
}

.achievements li{
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

.achievements >ul{
  margin-left: 3rem;
  padding:0.5rem;
}

 
#correction{
  position: relative;
  display: block;
  /* background-color: #323b4c; */
  border-top: 5px solid black;
  width: 254px;
  height: 0;
  transform: translate(0,-50%);
}